# Variables with prefix "COA_" are shared between the bot and the web app/ingest command
# Variables with prefix "COABOT_" are bot-specific

COA_DB_HOST=localhost
COA_DB_SSLMODE=verify
COA_DB_NAME=catsofasia
COA_DB_USER=catsofasia
COA_DB_PASSWORD=secret123

COA_GOOGLE_MAPS_API_KEY=asd


COABOT_STATE_FILE=/path/to/state.json

COABOT_ALBUM_BASE_PATH=/absolute/path/to/some/media/files/

COABOT_GOOGLE_PHOTOS_ALBUM_ID=some-google-photos-album-id
COABOT_GOOGLE_PHOTOS_CREDENTIALS_FILE=/path/to/google_api_credentials.json
COABOT_GOOGLE_PHOTOS_TOKEN_FILE=/path/to/google/photos/token.json

COABOT_TWITTER_CONSUMER_KEY=asd
COABOT_TWITTER_CONSUMER_SECRET=asd
COABOT_TWITTER_ACCESS_TOKEN=asd
COABOT_TWITTER_ACCESS_SECRET=asd

COABOT_MASTODON_SERVER=https://a.cat.friendly.mastodon.server
COABOT_MASTODON_ACCESS_TOKEN=asd

COABOT_MATRIX_SERVER=https://matrix.example.com
COABOT_MATRIX_USER=@coabot:matrix.example.com
COABOT_MATRIX_ACCESS_TOKEN=asd
COABOT_MATRIX_LOG_ROOM_ID=asd
